/* On hover */
.list-group {
    margin: 20px;
}

.list-group-item {
    margin-top: 10px;
    margin-bottom: 10px;
    background: rgb(224, 221, 221) !important;
    /* border: 1px solid grey !important; */
    border-radius: 5px;
}

.list-group-item-moduleName {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.list-group-item-module:hover {
    text-decoration: none;
    background-color: #fafafa;  /* Slight change in background color on hover */
}
