.moduleDetails {
    margin-left: 20px;
    width: 220px;
}

.hyperLink {
    color: red;
    text-decoration: none;
    margin-top: 10px;
}

.info-text {
    display: block;
    color: grey;
    font-size: 0.8em;
}

.todo-item {
    position: relative;
}

.close-btn {
    position: absolute;
    top: 0;
    right: 0;
    background: none;
    border: none;
}
